backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: 'Create {{collection}} “{{slug}}”'
    update: 'Update {{collection}} “{{slug}}”'
    delete: 'Delete {{collection}} “{{slug}}”'
    uploadMedia: '[skip ci] Upload “{{path}}”'
    deleteMedia: '[skip ci] Delete “{{path}}”'

    
media_folder: static/img
public_folder: /img

collections:
  - name: "products"
    label: "Products"
    folder: "src/content/products"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Template Key", name: "templateKey", widget: "hidden", default: "product"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Alias", name: "alias", widget: "string"}
      - {label: "Video URL", name: "url", widget: 'string', required: true}
      - {label: "Featured Image", name: "featuredimage", widget: "image"}
      - {label: "Featured Post", name: "featuredpost", widget: "boolean", required: true}
      - {label: "Description", name: "description", widget: "markdown"}
      - {label: "Features", name: "features", widget: object, fields: [
        {label: "Feature 1", name: "feature1", widget: string, required: true},
        {label: "Feature 2", name: "feature2", widget: boolean, required: true},
        {label: "Feature 3", name: "feature3", widget: boolean, required: true},
        {label: "Feature 4", name: "feature4", widget: boolean, required: true}
      ]}
      - {label: "Product Page", name: "productpage", widget: "object", fields: [
          {label: "Timeline Items", name: "timeline", widget: list, fields:[
            {label: "Title", name: "title", widget: string, required: true},
            {label: "Description", name: "description", widget: "markdown", required: true}
          ]},
          {label: "Features", name: "features", widget: list, fields:[
            {label: "Title", name: "title", widget: string, required: true},
            {label: "Description", name: "description", widget: "markdown", required: true}
          ]}
      ]}
            
  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "Landing Page"
        name: "index"
        fields:
          - {label: "Template Key", name: templateKey, widget: "hidden", default: "landing-page"}
          - {label: "Landing Page", name: landingPage, widget: object, fields:[
              {label: "Subtitle", name: subtitle, widget: object, fields: [
                {label: "Line 1", name: line1, widget: string, required: true},
                {label: "Line 2", name: line2, widget: string, required: true},
                {label: "Line 3", name: line3, widget: string, required: true}
              ]},
              {label: "What We Do", name: sectionA, widget: object, fields: [
                {label: "Title", name: title, widget: string, required: true},
                {label: "Show?", name: show, widget: boolean, required: true, default: true},
                {label: "Body", name: body, widget: markdown, required: true}
              ]},
              {label: "The Problem", name: sectionB, widget: object, fields:[
                {label: "Title", name: title, widget: string, required: true},
                {label: "Show?", name: show, widget: boolean, required: true, default: true},
                {label: "Body", name: body, widget: markdown, required: true}
              ]},
              {label: "Products", name: sectionC, widget: object, fields:[
                {label: "Show?", name: show, widget: boolean, required: true, default: true}
              ]},
              {label: "Contact Us", name: sectionD, widget: object, fields:[
                {label: "Title", name: title, widget: string, required: true},
                {label: "Show?", name: show, widget: boolean, required: true, default: true}
              ]}
          ]}
          - {label: "Body", name: "name", widget: "markdown", required: false}
      