* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  background: rgba(70, 187, 181, 0.2); }

html {
  font-size: 10px;
  scroll-behavior: smooth; }

@-webkit-keyframes moveInFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); } }

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
            transform: translateY(-5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem); } }

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem); } }

@-webkit-keyframes moveInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem); } }

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem); } }

@-webkit-keyframes spin720 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

@keyframes spin720 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    opacity: 1;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(82, 218, 211, 0.7)), to(rgba(46, 122, 117, 0.7))), url(../img/large-boat.jpg);
  background-image: linear-gradient(to right bottom, rgba(82, 218, 211, 0.7), rgba(46, 122, 117, 0.7)), url(../img/large-boat.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header-text-box {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 55%;
    width: 35%; }
  .header .heading {
    color: white; }
  .header .bold {
    font-weight: 700; }
  .header .main-header {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 5rem;
    display: block;
    -webkit-animation-name: moveInFromTop;
            animation-name: moveInFromTop;
    -webkit-animation-duration: 3s;
            animation-duration: 3s; }
  .header .sub-header {
    display: block;
    text-align: center;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    font-weight: 100; }
  .header .btn {
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #46bbb5;
    padding: 1rem 3rem;
    background-color: white;
    position: relative;
    display: inline-block;
    -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .header .btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  .header .btn:active {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.main-page .section-a {
  margin: 5rem;
  height: 60vh;
  text-align: center;
  -webkit-box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
          box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8); }
  .main-page .section-a-heading {
    margin-top: 1.5rem;
    font-size: 5rem;
    text-align: center; }
  .main-page .section-a .text-box {
    font-size: 2rem;
    padding: 2rem; }
  .main-page .section-a .btn {
    border-radius: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #46bbb5;
    padding: 1rem 1rem;
    background-color: white;
    -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .main-page .section-a .btn:hover {
    background-color: #46bbb5;
    color: white; }
  .main-page .section-a .btn:active {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.main-page .section-b {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 122, 117, 0.7)), to(rgba(46, 122, 117, 0.7))), url(../img/calculator.jpg);
  background-image: linear-gradient(rgba(46, 122, 117, 0.7), rgba(46, 122, 117, 0.7)), url(../img/calculator.jpg);
  background-size: cover;
  background-position: top;
  color: white;
  clip-path: polygon(0 0, 100% 15vh, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 15vh, 100% 100%, 0% 100%);
  position: relative; }
  .main-page .section-b-heading {
    padding: 5rem;
    display: block;
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 5rem; }
  .main-page .section-b .text-box {
    border-radius: 1rem;
    background-color: rgba(139, 139, 139, 0.76);
    padding: 5rem;
    margin-right: 5rem;
    text-align: justify;
    position: absolute;
    display: block;
    font-size: 1.5rem;
    top: 40%;
    left: 5%; }

.main-page .section-c {
  text-align: center;
  display: -ms-grid;
  display: grid;
  margin-top: 4rem; }
  .main-page .section-c-heading {
    font-size: 5rem; }
  .main-page .section-c .cards {
    text-align: center;
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: (minmax(37rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr)); }
  .main-page .section-c .card {
    border-radius: 1rem;
    padding: 2rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .main-page .section-c .card-title {
      font-size: 3rem; }
    .main-page .section-c .card .img {
      border-radius: 1rem;
      border: 0.1rem solid white;
      margin-top: 1rem;
      -o-object-fit: cover;
         object-fit: cover;
      width: 65%;
      margin-left: 17.5%; }
    .main-page .section-c .card .text-box {
      font-size: 1.7rem;
      padding: 2rem; }
    .main-page .section-c .card .t2p {
      display: block; }
    .main-page .section-c .card-color-1 {
      background-color: #14182f; }
      .main-page .section-c .card-color-1 h3 {
        color: #ded4a2; }
      .main-page .section-c .card-color-1 .text-box {
        color: #a67440; }
      .main-page .section-c .card-color-1 .btn {
        margin-top: 1rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: #14182f;
        background-color: #a67440;
        padding: 1rem 3rem;
        -webkit-box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
                box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
        display: inline-block;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .main-page .section-c .card-color-1 .btn:hover {
        border: 0.1rem solid white;
        color: #a67440;
        background-color: #14182f; }
      .main-page .section-c .card-color-1 .btn:active {
        -webkit-transform: translateY(0.2rem);
                transform: translateY(0.2rem);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(225, 225, 225, 0.2);
                box-shadow: 0 0.5rem 1rem rgba(225, 225, 225, 0.2); }
    .main-page .section-c .card-color-2 {
      background-color: #222222; }
      .main-page .section-c .card-color-2 h3 {
        color: #576aa6; }
      .main-page .section-c .card-color-2 .text-box {
        color: #5fb6d6; }
      .main-page .section-c .card-color-2 .btn {
        margin-top: 1rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: #222222;
        background-color: #5fb6d6;
        padding: 1rem 3rem;
        -webkit-box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
                box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
        display: inline-block;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .main-page .section-c .card-color-2 .btn:hover {
        border: 0.1rem solid white;
        color: #5fb6d6;
        background-color: #222222; }
      .main-page .section-c .card-color-2 .btn:active {
        -webkit-transform: translateY(0.2rem);
                transform: translateY(0.2rem);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(225, 225, 225, 0.2);
                box-shadow: 0 0.5rem 1rem rgba(225, 225, 225, 0.2); }
    .main-page .section-c .card-color-3 {
      background-color: #252941; }
      .main-page .section-c .card-color-3 h3 {
        color: white; }
      .main-page .section-c .card-color-3 .text-box {
        color: white; }
      .main-page .section-c .card-color-3 .btn {
        margin-top: 1rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        text-decoration: none;
        color: #252941;
        background-color: white;
        padding: 1rem 3rem;
        -webkit-box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
                box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
        display: inline-block;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .main-page .section-c .card-color-3 .btn:hover {
        border: 0.1rem solid white;
        color: white;
        background-color: #252941; }
      .main-page .section-c .card-color-3 .btn:active {
        -webkit-transform: translateY(0.2rem);
                transform: translateY(0.2rem);
        -webkit-box-shadow: 0 0.5rem 1rem rgba(225, 225, 225, 0.2);
                box-shadow: 0 0.5rem 1rem rgba(225, 225, 225, 0.2); }
  .main-page .section-c .card:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.product-header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(82, 218, 211, 0.7)), to(rgba(46, 122, 117, 0.7))), url("../img/boats.jpg");
  background-image: linear-gradient(to right bottom, rgba(82, 218, 211, 0.7), rgba(46, 122, 117, 0.7)), url("../img/boats.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .product-header .header-text-box {
    color: white;
    position: absolute;
    left: 18%;
    top: 30%; }
    .product-header .header-text-box .heading .main-header {
      display: block;
      font-size: 4rem;
      -webkit-animation-name: moveInFromRight;
              animation-name: moveInFromRight;
      -webkit-animation-duration: 2s;
              animation-duration: 2s; }
    .product-header .header-text-box .heading .sub-header {
      display: block;
      font-size: 1.5rem;
      -webkit-animation-name: moveInFromLeft;
              animation-name: moveInFromLeft;
      -webkit-animation-duration: 2s;
              animation-duration: 2s; }
    .product-header .header-text-box .btn {
      margin-top: 1rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      text-decoration: none;
      color: #46bbb5;
      background-color: white;
      padding: 1rem 3rem;
      -webkit-box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
              box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
      display: inline-block;
      margin: 1rem; }
    .product-header .header-text-box .btn:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .product-header .header-text-box .btn:active {
      -webkit-transform: translateY(0.2rem);
              transform: translateY(0.2rem);
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.product-main-section-a-title {
  color: #46bbb5;
  font-size: 3rem;
  text-align: center; }

.product-main-section-a-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr; }

.product-main-section-a-item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end; }

.product-main-section-a-item:nth-child(1) {
  -ms-grid-column: 1;
      grid-column-start: 1; }

.product-main-section-a-item:nth-child(2) {
  -ms-grid-column: 2;
      grid-column-start: 2; }

.product-main-section-a-item:nth-child(3) {
  -ms-grid-column: 1;
      grid-column-start: 1; }

.product-main-section-a-item:nth-child(4) {
  -ms-grid-column: 2;
      grid-column-start: 2; }

.product-main-section-b {
  text-align: center; }
  .product-main-section-b-title {
    font-size: 3rem;
    color: #46bbb5; }
  .product-main-section-b .cards {
    margin-top: 3rem;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 4rem;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto; }
    .product-main-section-b .cards .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .product-main-section-b .cards .card .icon {
        font-size: 3rem;
        color: green; }
      .product-main-section-b .cards .card .text-box {
        padding: 0 3rem 0 2rem;
        font-size: 1.4rem; }

.product-main-section-c-title {
  display: block;
  text-align: center;
  font-size: 3rem;
  color: #46bbb5;
  margin: 3rem 0 3rem 0; }
  .product-main-section-c-title-sub {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: #46bbb5; }

.product-main-section-c .cards {
  margin-left: 12.5%;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20%; }
  .product-main-section-c .cards .card {
    text-align: center;
    display: -ms-grid;
    display: grid;
    grid-gap: 1rem; }
    .product-main-section-c .cards .card .text-box {
      font-size: 1.2rem; }

.product-main-section-d {
  text-align: center; }
  .product-main-section-d-title {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: #46bbb5;
    margin: 3rem 0 3rem 0; }
  .product-main-section-d .cards {
    text-align: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    display: -ms-grid;
    display: grid;
    grid-gap: 2rem;
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 30% 30% 30%; }
    .product-main-section-d .cards .card {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .product-main-section-d .cards .card:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05); }
    .product-main-section-d .cards .img {
      margin-left: 12.5%;
      border-radius: 1rem;
      border: 0.1rem solid white;
      width: 100%;
      height: 100%; }

@media screen and (max-width: 550px) {
  body {
    padding: 0; }
  .cards {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    width: 90%;
    margin-left: 5%; }
    .cards .card {
      margin: 1rem 10rem 0 10rem; }
      .cards .card .img {
        width: 50% !important;
        left: 8%; }
      .cards .card .text-box {
        padding: 0 6rem 0 6rem !important; } }

@media screen and (min-width: 400px) {
  html {
    font-size: 6px; }
  .nav {
    visibility: hidden;
    position: fixed !important;
    top: 0;
    left: 0;
    opacity: 0.99; }
    .nav.open {
      visibility: visible; }
      .nav.open .menu-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: black !important;
        list-style-type: none;
        padding-right: 1rem;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
        -webkit-transform: translateY(0);
                transform: translateY(0); }
        .nav.open .menu-nav__item {
          -webkit-transform: translateX(100vw);
                  transform: translateX(100vw);
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-transform: translateX(0);
                  transform: translateX(0); }
          .nav.open .menu-nav__item.active > a {
            border-bottom: solid 0.1rem white; }
  .menu-btn {
    position: fixed;
    z-index: 10;
    right: 4rem;
    top: 4rem;
    height: 2rem;
    width: 3rem;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .menu-btn__burger {
      z-index: 1;
      position: absolute;
      margin-top: 1rem;
      right: 0;
      top: 0.5rem;
      width: 3rem;
      height: 0.3rem;
      background: white;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .menu-btn__burger::before {
        content: "";
        position: absolute;
        top: -0.8rem;
        width: 3rem;
        height: 0.3rem;
        background: white;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .menu-btn__burger::after {
        content: "";
        position: absolute;
        top: 0.8rem;
        width: 2.5rem;
        height: 0.3rem;
        background: white;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .menu-btn__burger.open {
        -webkit-transform: rotate(720deg);
                transform: rotate(720deg);
        background: transparent; }
        .menu-btn__burger.open::before {
          -webkit-transform: rotate(45deg) translate(0.5rem, 0.8rem);
                  transform: rotate(45deg) translate(0.5rem, 0.8rem); }
        .menu-btn__burger.open::after {
          width: 3rem;
          -webkit-transform: rotate(-45deg) translate(0.3rem, -0.7rem);
                  transform: rotate(-45deg) translate(0.3rem, -0.7rem); }
  .menu-nav__item:nth-child(1) {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s; }
  .menu-nav__item:nth-child(2) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s; }
  .menu-nav__item:nth-child(3) {
    -webkit-transition-delay: 0.45s;
            transition-delay: 0.45s; }
  .menu-nav__item:nth-child(4) {
    -webkit-transition-delay: 0.55s;
            transition-delay: 0.55s; } }

@media screen and (min-width: 768px) {
  .nav {
    visibility: visible; }
  .menu-btn {
    visibility: hidden; } }

@media screen and (min-width: 1024px) {
  html {
    font-size: 10px; } }

@media screen and (min-width: 1600px) {
  html {
    font-size: 11px; }
  .container {
    text-align: center;
    max-width: 2048px;
    margin: 0 10%; } }

.nav {
  padding-right: 4.5rem;
  padding-left: 3rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 1; }
  .nav .menu-nav-scrolling {
    background: transparent !important;
    margin-top: 3rem;
    border-radius: 0.5rem; }
  .nav .menu-nav {
    display: block;
    height: 100%;
    text-align: right;
    text-decoration: none;
    background: rgba(46, 122, 117, 0.9);
    padding: 1.5rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
    text-decoration: none; }
    .nav .menu-nav__item.active > a {
      border-bottom: solid 0.1rem white; }
  .nav .menu-nav__link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .nav .menu-nav__link:hover {
      border-bottom: solid 0.1rem white; }
  .nav.open {
    visibility: visible; }

.footer {
  display: block;
  bottom: 0;
  margin-top: 2rem;
  background-color: gray;
  height: 30rem;
  position: relative;
  opacity: 0.8; }
  .footer .inship-logo {
    color: white;
    position: absolute;
    top: 3rem;
    left: 10rem;
    font-size: 2.5rem; }
    .footer .inship-logo .main {
      font-weight: 700; }
      .footer .inship-logo .main .bold {
        font-weight: 50;
        font-family: sans-serif; }
    .footer .inship-logo .sub {
      margin-top: -1rem;
      font-size: 0.9rem;
      font-weight: 100; }
  .footer .address {
    color: white;
    margin: 2rem;
    position: absolute;
    right: 5%;
    font-size: 1.2rem; }
    .footer .address .phone-number-line {
      color: #46bbb5; }
    .footer .address .email-line {
      color: #46bbb5; }
    .footer .address .email-line:hover {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .footer .line {
    background-color: white;
    text-align: center;
    height: 0.1rem;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 70%; }
  .footer .copy-right {
    color: white;
    position: absolute;
    top: 85%;
    left: 5%; }
  .footer .social-icons {
    position: absolute;
    top: 80%;
    left: 42%;
    color: black; }
    .footer .social-icons a {
      text-decoration: none !important;
      padding: 0.4rem;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      color: white; }
      .footer .social-icons a:hover {
        color: #46bbb5; }

.contact-page .contact {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(82, 218, 211, 0.7)), to(rgba(46, 122, 117, 0.7))), url(../img/map.jpg);
  background-image: linear-gradient(to right bottom, rgba(82, 218, 211, 0.7), rgba(46, 122, 117, 0.7)), url(../img/map.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .contact-page .contact-text-box {
    position: absolute;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    top: 35%;
    left: 55%; }
    .contact-page .contact-text-box .right {
      display: block;
      -webkit-animation-name: moveInFromRight;
              animation-name: moveInFromRight;
      -webkit-animation-duration: 3s;
              animation-duration: 3s; }
    .contact-page .contact-text-box .left {
      margin-top: -2.5rem;
      display: block;
      -webkit-animation-name: moveInFromLeft;
              animation-name: moveInFromLeft;
      -webkit-animation-duration: 3s;
              animation-duration: 3s; }
    .contact-page .contact-text-box .spin {
      -webkit-animation-name: spin720;
              animation-name: spin720;
      -webkit-animation-duration: 3s;
              animation-duration: 3s; }

.contact-page .section-a {
  margin-top: 5rem; }
  .contact-page .section-a .cards {
    display: -ms-grid;
    display: grid;
    grid-gap: 10rem;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  .contact-page .section-a .card {
    text-align: center; }
    .contact-page .section-a .card .title {
      font-size: 2rem; }
    .contact-page .section-a .card .icon {
      padding: 1rem;
      font-size: 10rem; }
    .contact-page .section-a .card p {
      padding: 4rem; }
    .contact-page .section-a .card .btn {
      margin-top: 1rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      text-decoration: none;
      color: #46bbb5;
      background-color: white;
      padding: 1rem 3rem;
      -webkit-box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
              box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
      display: inline-block; }
    .contact-page .section-a .card .btn:hover {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      cursor: pointer; }
    .contact-page .section-a .card .btn:active {
      -webkit-transform: translateY(0.2rem);
              transform: translateY(0.2rem);
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.contact-page .section-b {
  margin-top: 5rem;
  position: relative;
  border-radius: 1rem;
  height: 50rem;
  /* Clearfix */ }
  .contact-page .section-b h1 {
    padding-top: 2%;
    text-align: center;
    font-size: 4rem;
    color: #46bbb5; }
  .contact-page .section-b .label-before, .contact-page .section-b .field input:valid + label::before, .contact-page .section-b .field input:focus + label::before {
    line-height: 2rem;
    font-size: 1.2rem;
    top: -1.5rem;
    background: #fff;
    padding: 0 0.6rem;
    left: 0.9rem; }
  .contact-page .section-b .container {
    width: 80%;
    margin: 3rem 10%; }
  .contact-page .section-b .field {
    position: relative;
    margin-bottom: 1.5rem; }
    .contact-page .section-b .field label::before {
      content: attr(title);
      position: absolute;
      top: 0;
      left: 1.5rem;
      line-height: 4rem;
      font-size: 1.4rem;
      color: #777;
      -webkit-transition: 300ms all;
      transition: 300ms all; }
    .contact-page .section-b .field input {
      background: transparent;
      width: 100%;
      line-height: 4rem;
      padding: 0 1.5rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 1.4rem;
      color: #222;
      border: none;
      border-bottom: 0.1rem solid #ccc; }
      .contact-page .section-b .field input:focus {
        outline: 0; }
      .contact-page .section-b .field input:valid + label::before {
        content: attr(data-title); }
      .contact-page .section-b .field input:focus + label::before {
        background: transparent; }
  .contact-page .section-b .half {
    float: left;
    width: 50%;
    margin-bottom: 1em; }
  .contact-page .section-b .right {
    width: 48%; }
  .contact-page .section-b .left {
    margin-right: 2%; }
  @media (max-width: 480px) {
    .contact-page .section-b .half {
      width: 100%;
      float: none;
      margin-bottom: 0; } }
  .contact-page .section-b .cf:before,
  .contact-page .section-b .cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .contact-page .section-b .cf:after {
    clear: both; }
  .contact-page .section-b .submit-btn {
    position: absolute;
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #46bbb5;
    padding: 1rem 3rem;
    background-color: white;
    top: 75%;
    left: 45%;
    display: inline-block;
    -webkit-box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    border: none; }
  .contact-page .section-b .submit-btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    cursor: pointer; }
  .contact-page .section-b .submit-btn:active {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
  clip: rect(auto, auto, auto, auto); }

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.pie-fill, .c100.p51.bar:after, .c100.p51 .fill, .c100.p52.bar:after, .c100.p52 .fill, .c100.p53.bar:after, .c100.p53 .fill, .c100.p54.bar:after, .c100.p54 .fill, .c100.p55.bar:after, .c100.p55 .fill, .c100.p56.bar:after, .c100.p56 .fill, .c100.p57.bar:after, .c100.p57 .fill, .c100.p58.bar:after, .c100.p58 .fill, .c100.p59.bar:after, .c100.p59 .fill, .c100.p60.bar:after, .c100.p60 .fill, .c100.p61.bar:after, .c100.p61 .fill, .c100.p62.bar:after, .c100.p62 .fill, .c100.p63.bar:after, .c100.p63 .fill, .c100.p64.bar:after, .c100.p64 .fill, .c100.p65.bar:after, .c100.p65 .fill, .c100.p66.bar:after, .c100.p66 .fill, .c100.p67.bar:after, .c100.p67 .fill, .c100.p68.bar:after, .c100.p68 .fill, .c100.p69.bar:after, .c100.p69 .fill, .c100.p70.bar:after, .c100.p70 .fill, .c100.p71.bar:after, .c100.p71 .fill, .c100.p72.bar:after, .c100.p72 .fill, .c100.p73.bar:after, .c100.p73 .fill, .c100.p74.bar:after, .c100.p74 .fill, .c100.p75.bar:after, .c100.p75 .fill, .c100.p76.bar:after, .c100.p76 .fill, .c100.p77.bar:after, .c100.p77 .fill, .c100.p78.bar:after, .c100.p78 .fill, .c100.p79.bar:after, .c100.p79 .fill, .c100.p80.bar:after, .c100.p80 .fill, .c100.p81.bar:after, .c100.p81 .fill, .c100.p82.bar:after, .c100.p82 .fill, .c100.p83.bar:after, .c100.p83 .fill, .c100.p84.bar:after, .c100.p84 .fill, .c100.p85.bar:after, .c100.p85 .fill, .c100.p86.bar:after, .c100.p86 .fill, .c100.p87.bar:after, .c100.p87 .fill, .c100.p88.bar:after, .c100.p88 .fill, .c100.p89.bar:after, .c100.p89 .fill, .c100.p90.bar:after, .c100.p90 .fill, .c100.p91.bar:after, .c100.p91 .fill, .c100.p92.bar:after, .c100.p92 .fill, .c100.p93.bar:after, .c100.p93 .fill, .c100.p94.bar:after, .c100.p94 .fill, .c100.p95.bar:after, .c100.p95 .fill, .c100.p96.bar:after, .c100.p96 .fill, .c100.p97.bar:after, .c100.p97 .fill, .c100.p98.bar:after, .c100.p98 .fill, .c100.p99.bar:after, .c100.p99 .fill, .c100.p100.bar:after, .c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #ccc; }
  .c100 *,
  .c100 *:before,
  .c100 *:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  .c100.center {
    float: none;
    margin: 0 auto; }
  .c100.big {
    font-size: 240px; }
  .c100.small {
    font-size: 80px; }
  .c100 > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #ccc;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #f5f5f5;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  .c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em); }
  .c100.p1 .bar {
    -webkit-transform: rotate(3.6deg);
    transform: rotate(3.6deg); }
  .c100.p2 .bar {
    -webkit-transform: rotate(7.2deg);
    transform: rotate(7.2deg); }
  .c100.p3 .bar {
    -webkit-transform: rotate(10.8deg);
    transform: rotate(10.8deg); }
  .c100.p4 .bar {
    -webkit-transform: rotate(14.4deg);
    transform: rotate(14.4deg); }
  .c100.p5 .bar {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg); }
  .c100.p6 .bar {
    -webkit-transform: rotate(21.6deg);
    transform: rotate(21.6deg); }
  .c100.p7 .bar {
    -webkit-transform: rotate(25.2deg);
    transform: rotate(25.2deg); }
  .c100.p8 .bar {
    -webkit-transform: rotate(28.8deg);
    transform: rotate(28.8deg); }
  .c100.p9 .bar {
    -webkit-transform: rotate(32.4deg);
    transform: rotate(32.4deg); }
  .c100.p10 .bar {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg); }
  .c100.p11 .bar {
    -webkit-transform: rotate(39.6deg);
    transform: rotate(39.6deg); }
  .c100.p12 .bar {
    -webkit-transform: rotate(43.2deg);
    transform: rotate(43.2deg); }
  .c100.p13 .bar {
    -webkit-transform: rotate(46.8deg);
    transform: rotate(46.8deg); }
  .c100.p14 .bar {
    -webkit-transform: rotate(50.4deg);
    transform: rotate(50.4deg); }
  .c100.p15 .bar {
    -webkit-transform: rotate(54deg);
    transform: rotate(54deg); }
  .c100.p16 .bar {
    -webkit-transform: rotate(57.6deg);
    transform: rotate(57.6deg); }
  .c100.p17 .bar {
    -webkit-transform: rotate(61.2deg);
    transform: rotate(61.2deg); }
  .c100.p18 .bar {
    -webkit-transform: rotate(64.8deg);
    transform: rotate(64.8deg); }
  .c100.p19 .bar {
    -webkit-transform: rotate(68.4deg);
    transform: rotate(68.4deg); }
  .c100.p20 .bar {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg); }
  .c100.p21 .bar {
    -webkit-transform: rotate(75.6deg);
    transform: rotate(75.6deg); }
  .c100.p22 .bar {
    -webkit-transform: rotate(79.2deg);
    transform: rotate(79.2deg); }
  .c100.p23 .bar {
    -webkit-transform: rotate(82.8deg);
    transform: rotate(82.8deg); }
  .c100.p24 .bar {
    -webkit-transform: rotate(86.4deg);
    transform: rotate(86.4deg); }
  .c100.p25 .bar {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .c100.p26 .bar {
    -webkit-transform: rotate(93.6deg);
    transform: rotate(93.6deg); }
  .c100.p27 .bar {
    -webkit-transform: rotate(97.2deg);
    transform: rotate(97.2deg); }
  .c100.p28 .bar {
    -webkit-transform: rotate(100.8deg);
    transform: rotate(100.8deg); }
  .c100.p29 .bar {
    -webkit-transform: rotate(104.4deg);
    transform: rotate(104.4deg); }
  .c100.p30 .bar {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg); }
  .c100.p31 .bar {
    -webkit-transform: rotate(111.6deg);
    transform: rotate(111.6deg); }
  .c100.p32 .bar {
    -webkit-transform: rotate(115.2deg);
    transform: rotate(115.2deg); }
  .c100.p33 .bar {
    -webkit-transform: rotate(118.8deg);
    transform: rotate(118.8deg); }
  .c100.p34 .bar {
    -webkit-transform: rotate(122.4deg);
    transform: rotate(122.4deg); }
  .c100.p35 .bar {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg); }
  .c100.p36 .bar {
    -webkit-transform: rotate(129.6deg);
    transform: rotate(129.6deg); }
  .c100.p37 .bar {
    -webkit-transform: rotate(133.2deg);
    transform: rotate(133.2deg); }
  .c100.p38 .bar {
    -webkit-transform: rotate(136.8deg);
    transform: rotate(136.8deg); }
  .c100.p39 .bar {
    -webkit-transform: rotate(140.4deg);
    transform: rotate(140.4deg); }
  .c100.p40 .bar {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg); }
  .c100.p41 .bar {
    -webkit-transform: rotate(147.6deg);
    transform: rotate(147.6deg); }
  .c100.p42 .bar {
    -webkit-transform: rotate(151.2deg);
    transform: rotate(151.2deg); }
  .c100.p43 .bar {
    -webkit-transform: rotate(154.8deg);
    transform: rotate(154.8deg); }
  .c100.p44 .bar {
    -webkit-transform: rotate(158.4deg);
    transform: rotate(158.4deg); }
  .c100.p45 .bar {
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg); }
  .c100.p46 .bar {
    -webkit-transform: rotate(165.6deg);
    transform: rotate(165.6deg); }
  .c100.p47 .bar {
    -webkit-transform: rotate(169.2deg);
    transform: rotate(169.2deg); }
  .c100.p48 .bar {
    -webkit-transform: rotate(172.8deg);
    transform: rotate(172.8deg); }
  .c100.p49 .bar {
    -webkit-transform: rotate(176.4deg);
    transform: rotate(176.4deg); }
  .c100.p50 .bar {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .c100.p51 .bar {
    -webkit-transform: rotate(183.6deg);
    transform: rotate(183.6deg); }
  .c100.p52 .bar {
    -webkit-transform: rotate(187.2deg);
    transform: rotate(187.2deg); }
  .c100.p53 .bar {
    -webkit-transform: rotate(190.8deg);
    transform: rotate(190.8deg); }
  .c100.p54 .bar {
    -webkit-transform: rotate(194.4deg);
    transform: rotate(194.4deg); }
  .c100.p55 .bar {
    -webkit-transform: rotate(198deg);
    transform: rotate(198deg); }
  .c100.p56 .bar {
    -webkit-transform: rotate(201.6deg);
    transform: rotate(201.6deg); }
  .c100.p57 .bar {
    -webkit-transform: rotate(205.2deg);
    transform: rotate(205.2deg); }
  .c100.p58 .bar {
    -webkit-transform: rotate(208.8deg);
    transform: rotate(208.8deg); }
  .c100.p59 .bar {
    -webkit-transform: rotate(212.4deg);
    transform: rotate(212.4deg); }
  .c100.p60 .bar {
    -webkit-transform: rotate(216deg);
    transform: rotate(216deg); }
  .c100.p61 .bar {
    -webkit-transform: rotate(219.6deg);
    transform: rotate(219.6deg); }
  .c100.p62 .bar {
    -webkit-transform: rotate(223.2deg);
    transform: rotate(223.2deg); }
  .c100.p63 .bar {
    -webkit-transform: rotate(226.8deg);
    transform: rotate(226.8deg); }
  .c100.p64 .bar {
    -webkit-transform: rotate(230.4deg);
    transform: rotate(230.4deg); }
  .c100.p65 .bar {
    -webkit-transform: rotate(234deg);
    transform: rotate(234deg); }
  .c100.p66 .bar {
    -webkit-transform: rotate(237.6deg);
    transform: rotate(237.6deg); }
  .c100.p67 .bar {
    -webkit-transform: rotate(241.2deg);
    transform: rotate(241.2deg); }
  .c100.p68 .bar {
    -webkit-transform: rotate(244.8deg);
    transform: rotate(244.8deg); }
  .c100.p69 .bar {
    -webkit-transform: rotate(248.4deg);
    transform: rotate(248.4deg); }
  .c100.p70 .bar {
    -webkit-transform: rotate(252deg);
    transform: rotate(252deg); }
  .c100.p71 .bar {
    -webkit-transform: rotate(255.6deg);
    transform: rotate(255.6deg); }
  .c100.p72 .bar {
    -webkit-transform: rotate(259.2deg);
    transform: rotate(259.2deg); }
  .c100.p73 .bar {
    -webkit-transform: rotate(262.8deg);
    transform: rotate(262.8deg); }
  .c100.p74 .bar {
    -webkit-transform: rotate(266.4deg);
    transform: rotate(266.4deg); }
  .c100.p75 .bar {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
  .c100.p76 .bar {
    -webkit-transform: rotate(273.6deg);
    transform: rotate(273.6deg); }
  .c100.p77 .bar {
    -webkit-transform: rotate(277.2deg);
    transform: rotate(277.2deg); }
  .c100.p78 .bar {
    -webkit-transform: rotate(280.8deg);
    transform: rotate(280.8deg); }
  .c100.p79 .bar {
    -webkit-transform: rotate(284.4deg);
    transform: rotate(284.4deg); }
  .c100.p80 .bar {
    -webkit-transform: rotate(288deg);
    transform: rotate(288deg); }
  .c100.p81 .bar {
    -webkit-transform: rotate(291.6deg);
    transform: rotate(291.6deg); }
  .c100.p82 .bar {
    -webkit-transform: rotate(295.2deg);
    transform: rotate(295.2deg); }
  .c100.p83 .bar {
    -webkit-transform: rotate(298.8deg);
    transform: rotate(298.8deg); }
  .c100.p84 .bar {
    -webkit-transform: rotate(302.4deg);
    transform: rotate(302.4deg); }
  .c100.p85 .bar {
    -webkit-transform: rotate(306deg);
    transform: rotate(306deg); }
  .c100.p86 .bar {
    -webkit-transform: rotate(309.6deg);
    transform: rotate(309.6deg); }
  .c100.p87 .bar {
    -webkit-transform: rotate(313.2deg);
    transform: rotate(313.2deg); }
  .c100.p88 .bar {
    -webkit-transform: rotate(316.8deg);
    transform: rotate(316.8deg); }
  .c100.p89 .bar {
    -webkit-transform: rotate(320.4deg);
    transform: rotate(320.4deg); }
  .c100.p90 .bar {
    -webkit-transform: rotate(324deg);
    transform: rotate(324deg); }
  .c100.p91 .bar {
    -webkit-transform: rotate(327.6deg);
    transform: rotate(327.6deg); }
  .c100.p92 .bar {
    -webkit-transform: rotate(331.2deg);
    transform: rotate(331.2deg); }
  .c100.p93 .bar {
    -webkit-transform: rotate(334.8deg);
    transform: rotate(334.8deg); }
  .c100.p94 .bar {
    -webkit-transform: rotate(338.4deg);
    transform: rotate(338.4deg); }
  .c100.p95 .bar {
    -webkit-transform: rotate(342deg);
    transform: rotate(342deg); }
  .c100.p96 .bar {
    -webkit-transform: rotate(345.6deg);
    transform: rotate(345.6deg); }
  .c100.p97 .bar {
    -webkit-transform: rotate(349.2deg);
    transform: rotate(349.2deg); }
  .c100.p98 .bar {
    -webkit-transform: rotate(352.8deg);
    transform: rotate(352.8deg); }
  .c100.p99 .bar {
    -webkit-transform: rotate(356.4deg);
    transform: rotate(356.4deg); }
  .c100.p100 .bar {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
  .c100:hover {
    cursor: default; }
    .c100:hover > span {
      width: 3.33em;
      line-height: 3.33em;
      font-size: 0.3em;
      color: #307bbb; }
    .c100:hover:after {
      top: 0.04em;
      left: 0.04em;
      width: 0.92em;
      height: 0.92em; }
  .c100.dark {
    background-color: #777; }
    .c100.dark .bar,
    .c100.dark .fill {
      border-color: #c6ff00 !important; }
    .c100.dark > span {
      color: #777; }
    .c100.dark:after {
      background-color: #666; }
    .c100.dark:hover > span {
      color: #c6ff00; }
  .c100.green .bar,
  .c100.green .fill {
    border-color: #46bbb5 !important; }
  .c100.green:hover > span {
    color: #46bbb5; }
  .c100.green.dark .bar,
  .c100.green.dark .fill {
    border-color: #5fd400 !important; }
  .c100.green.dark:hover > span {
    color: #5fd400; }
  .c100.orange .bar,
  .c100.orange .fill {
    border-color: #dd9d22 !important; }
  .c100.orange:hover > span {
    color: #dd9d22; }
  .c100.orange.dark .bar,
  .c100.orange.dark .fill {
    border-color: #e08833 !important; }
  .c100.orange.dark:hover > span {
    color: #e08833; }
