.automate-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .section-a {
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      h2 {
        font-size: 4rem;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 2rem;
      grid-gap: 2rem;
      position: relative;

      .card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        background-color: white;
        border: 0.1rem solid white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .img {
          height: 100%;
          width: 100%;
        }
        img {
          border-radius: 1rem;
          object-fit: cover;
        }
        .card__content {
          padding: 0 2rem;
          font-size: 2rem;
          p {
            font-size: 1.6rem;
          }
        }
        .btn {
          @include btn(white, $inship-color, "light");
        }
      }
    }
  }

  .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: turquoise;
    animation: move-the-circle 1s infinite;
    transform-origin: center center;
  }

  @for $num from 1 through 8 {
    .circle:nth-child(#{$num}) {
      left: ($num - 1) * 30px;
      animation-delay: $num * 0.1s;
    }
  }

  @keyframes move-the-circle {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: turquoise;
    }
    50% {
      transform: translate(0, 50px) scale(0.4);
      opacity: 0.5;
      background-color: blue;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: turquoise;
    }
  }
  .header {
    height: 95vh;
    // z-index: -1;
    background-image: linear-gradient(
        to right bottom,
        $inship-color-background,
        $inship-color-background-darker
      ),
      url(../img/automate.jpg) !important;

    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    position: relative;

    &-text-box {
      position: absolute;
      text-align: center;
      top: 35%;
      left: 55%;
      width: 35%;
    }

    .heading {
      color: white;
    }
    .bold {
      font-weight: 700;
    }
    .main-header {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 5rem;
      display: block;

      animation-name: moveInFromTop;
      animation-duration: 3s;
    }

    .sub-header {
      // letter-spacing: 0.2rem;
      display: block;
      text-align: center;
      animation-name: fadeIn;
      animation-duration: 3s;
      font-weight: 100;
    }

    .btn {
      margin-top: 1rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      text-decoration: none;
      color: $inship-color;
      padding: 1rem 3rem;
      background-color: white;
      position: relative;
      display: inline-block;
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    .btn:hover {
      transform: scale(1.05);
    }

    .btn:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }

  .section-b {
    .title-main {
      text-align: center;
      h2 {
        font-size: 4rem;
      }
    }
    width: 100%;
    .presentation-mode {
      background-color: transparent !important;
    }
    .carousel .slide {
      text-align: center;
      background: transparent !important;
    }

    .carousel-slider {
      background: transparent !important;
    }
    .carousel.carousel-slider .control-arrow:hover {
      background: $inship-color;
      border-radius: 2rem;
    }

    .carousel .control-next.control-arrow:before {
      border-left: 8px solid black;
    }
    .carousel .control-prev.control-arrow:before {
      border-right: 8px solid black;
    }

    .control-dots .dot {
      background-color: $inship-color;
    }

    .cards {
      margin-top: 3rem;
      display: grid;
      justify-content: center;
      grid-gap: 4rem;
      grid-template-columns: 40% 40%;
      grid-template-rows: auto auto;
      .card {
        border: 0.1rem solid white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #fdfdfd;
        margin-left: 20%;
        width: 60%;
        padding: 4rem;
        // border-radius: 1.5rem;
        align-items: start;
        justify-content: space-evenly;
        font-size: 1.5rem;

        .title {
          font-size: 2rem;
        }

        .stars {
          display: block;
          color: $inship-color;
        }

        .icon {
          font-size: 5rem;
          color: $inship-color;
          margin-bottom: 2rem;
        }
        .text-box {
          color: white;
          padding: 0 3rem 0 2rem;
          font-size: 1.4rem;
        }
      }
    }
  }
}
