.automate-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .section-animation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .section-a {
    .title {
      display: grid;
      margin-top: 2rem;
      grid-template-rows: 1fr;
      text-align: center;
      h2 {
        font-size: 4rem;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      
      padding: 2rem;
      grid-gap: 2rem;
      position: relative;

      .card {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        background-color: white;
        border: 0.1rem solid white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .img {
          height: 100%;
          width: 100%;
        }
        img {
          border-radius: 1rem;
          object-fit: cover;
        }
        p {
          font-size: 1.6rem;
        }
        small {
          font-style: italic;
        }
        .card__content {
          padding: 0 2rem;
          font-size: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          text-align: center;

          .btn {
            position: relative;
            text-align: center !important;
            @include btn(white, $inship-color, "light");
            border: 0.1rem solid $inship-color;
            @include transition-ease;
          }
          .btn:hover {
            color: $inship-color;
            background-color: white;
          }
        }
      }
    }
  }

  .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: turquoise;
    animation: move-the-circle 1s infinite;
    transform-origin: center center;
  }

  @for $num from 1 through 8 {
    .circle:nth-child(#{$num}) {
      left: ($num - 1) * 30px;
      animation-delay: $num * 0.1s;
    }
  }

  @keyframes move-the-circle {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: turquoise;
    }
    50% {
      transform: translate(0, 50px) scale(0.4);
      opacity: 0.5;
      background-color: blue;
    }
    100% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
      background-color: turquoise;
    }
  }
  .header {
    height: 95vh;
    // z-index: -1;
    background-image: url(../img/Auto.jpg) !important;

    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    position: relative;

    &-text-box {
      position: absolute;
      text-align: center;
      top: 15%;
      left: 60%;
      width: 35%;
    }

    .heading {
      color: white;
    }
    .bold {
      font-weight: 700;
    }
    .main-header {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 5rem;
      display: block;

      animation-name: moveInFromTop;
      animation-duration: 3s;
    }

    .sub-header {
      // letter-spacing: 0.2rem;
      display: block;
      text-align: center;
      animation-name: fadeIn;
      animation-duration: 3s;
      font-weight: 100;
    }

    .btn {
      margin-top: 1rem;
      border-radius: 1rem;
      font-size: 1.5rem;
      text-decoration: none;
      color: $inship-color;
      padding: 1rem 3rem;
      background-color: white;
      position: relative;
      display: inline-block;
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    .btn:hover {
      transform: scale(1.05);
    }

    .btn:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }

  .section-b {
    .large {
      visibility: visible;
    }

    .title-main {
      text-align: center;
      h2 {
        font-size: 4rem;
      }
    }
    width: 100%;
    .presentation-mode {
      background-color: transparent !important;
    }
    .carousel .slide {
      text-align: center;
      background: transparent !important;
    }

    .carousel-slider {
      background: transparent !important;
    }
    .carousel.carousel-slider .control-arrow:hover {
      background: rgba(219, 15, 117, 1);
      border-radius: 2rem;
    }

    .carousel .control-next.control-arrow:before {
      border-left: 8px solid black;
    }
    .carousel .control-prev.control-arrow:before {
      border-right: 8px solid black;
    }

    .control-dots .dot {
      background-color: $inship-color;
    }

    .cards {
      margin-top: 3rem;
      display: grid;
      justify-content: center;
      grid-gap: 2rem;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: auto auto auto;
      .card {
        display: grid;
        grid-template-rows: 15% 5% 10% 55% 2%;
        grid-gap: 0.5rem;
        justify-items: center;
        border: 0.1rem solid white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #fdfdfd;
        margin-left: 10%;
        width: 80%;
        padding: 4rem;
        font-size: 1.5rem;

        .line {
          @include line(gray, 15%, 90%, 100%, 0.1rem);
        }

        .sing-off {
          display: flex;
          justify-content: space-evenly;
          margin-top: 1rem;
          font-style: italic;
          font-size: 1.5rem;
        }

        .title {
          font-size: 2.5rem;
        }

        .stars {
          display: block;
          color: gray;
        }

        .icon {
          font-size: 5rem;
          color: gray;
          margin-bottom: 2rem;
        }
        .text-box {
          color: white;
          padding: 0 3rem 0 2rem;
          font-size: 1.4rem;
        }
      }
      .quote-left {
        margin-right: 1rem;
        font-size: 1rem;
      }

      .quote-right {
        margin-left: 1rem;
        font-size: 1rem;
      }
    }
  }
}
