.contact-page {
  .contact {
    @include header-gb-no-color("../img/contact.jpg");

    position: relative;

    &-text-box {
      padding: 3rem;
      border-radius: 2rem;
      background-color: white;
      position: absolute;
      font-size: 2.5rem;
      color: $inship-color;
      text-align: center;
      top: 25%;
      left: 15%;

      .right {
        display: block;
        animation-name: moveInFromRight;
        animation-duration: 3s;
      }

      .left {
        margin-top: -2.5rem;
        display: block;
        animation-name: moveInFromLeft;
        animation-duration: 3s;
      }

      .spin {
        animation-name: spin720;
        animation-duration: 3s;
      }
    }
  }
  .section-a {
    margin-top: 5rem;
    .cards {
      display: grid;
      grid-gap: 10rem;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }

    .card {
      text-align: center;
      .title {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      .icon {
        padding: 1rem;
        font-size: 10rem;
        margin-bottom: 2rem;
      }

      .email {
        margin-top: 6rem;
        text-decoration: none !important;
        padding: 0.4rem;
        color: gray;
        display: block;
        font-size: 2rem;
      }

      .phone-number {
        margin-top: 6rem;
        color: gray;
        text-decoration: none !important;
        padding: 0.4rem;
        display: block;
        font-size: 2rem;
      }

      .address {
        padding-left: 10rem;
        text-align: left;
        font-size: 2rem;
      }
    }
  }

  .section-b {
    margin-top: 5rem;
  }
}
