// Vars Colors
$inship-color-background: rgba(82, 218, 211, 0.7);
$inship-color-background-darker: rgba(46, 122, 117, 0.7);
$inship-color: rgba(70, 187, 181, 1);
$inship-color-background-light: rgba(70, 187, 181, 0.2);
$grey-light: #f3f3f3;
$APC-light: #ded4a2;
$APC-dark: #a67440;
$APC-bg: #14182f;
// $CAPS-light: #5fb6d6;
// $CAPS-dark: #576aa6;
// $CAPS-bg: #222222;
$CAPS-light: rgb(255,162,11);
$CAPS-dark: rgb(250,133,29);
$CAPS-bg: rgb(47,47,47);
$T2P-color: white;
$T2P-bg: #252941;

// Box Shadows
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

// setting init val
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Asap", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  background: $inship-color-background-light;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html, body {
  overflow-x:hidden 
} 

ol li {
  margin-left: 2em;
}

.isFeature {
  color: $inship-color;
}
.notFeature {
  color: #333;
}

li {
  text-decoration: none;
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes spin720 {
  0% {
    opacity: 0;
    transform: rotate(0);
  }

  100% {
    opacity: 1;
    transform: rotate(720deg);
  }
}

@mixin btn($text-color, $background-color, $shadow) {
  margin-top: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: $text-color;
  background-color: $background-color;
  padding: 1rem 3rem;
  @if ($shadow = "light") {
    box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.2);
  } @else {
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  display: inline-block;
}

@mixin hover-scale {
  transform: scale(1.05);
}

@mixin click-affect($shadow) {
  transform: translateY(0.2rem);
  @if ($shadow = "light") {
    box-shadow: 0 0.5rem 1rem rgba(225, 225, 225, 0.2);
  } @else {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}

@mixin media-sm {
  @media screen and (min-width: 200px) {
    @content;
  }
}

// 550px or Smaller
@mixin media-sm-rev {
  @media screen and (max-width: 666px) {
    @content;
  }
}
// 551px or Larger
@mixin media-md {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

// 1024px or Larger
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

// 1600px or Larger
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@mixin header-bg($img, $color1, $color2) {
  height: 95vh;
  background-image: linear-gradient(to right bottom, $color1, $color2),
    url($img);
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

@mixin header-gb-no-color($img) {
  height: 95vh;
  background-image: url($img);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

@mixin page-heading {
  margin-top: 1.5rem;
  font-size: 5rem;
  text-align: center;
}

@mixin page-textbox {
  font-size: 2rem;
  padding: 2rem;
}

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin line-posistion-absolute($color, $left, $top, $width, $height) {
  background-color: $color;
  text-align: center;
  height: $height;
  width: $width;
  position: absolute;
  left: $left;
  @if ($top != null) {
    top: $top;
  }
}

@mixin productHeader($image) {
  @include header-gb-no-color($image);

  position: relative;

  .header-text-box {
    position: absolute;
    right: 18%;
    top: 15%;

    .heading {
      .main-header {
        display: block;
        font-size: 4rem;

        animation-name: moveInFromRight;
        animation-duration: 2s;
      }

      .sub-header {
        display: block;
        font-size: 1.5rem;

        animation-name: moveInFromLeft;
        animation-duration: 2s;
      }
    }
  }
}

@mixin hover-btn {
  transform: scale(1.05);
}

@mixin active-btn {
  transform: translateY(0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
