// Footer var's
$margin-footer: 5%;

// Footer General
.footer {
  color: white;
  display: block;
  bottom: 0;
  margin-top: 3rem;
  background-color: gray;
  height: 23rem;
  position: relative;
  opacity: 0.8;

  .inship-logo {
    position: absolute;
    top: 1rem;
    left: $margin-footer;
    font-size: 3.5rem;
    .main {
      font-weight: 700;
      .thin {
        font-weight: 100;
        font-family: sans-serif;
      }
    }
    .sub {
      margin-top: -1rem;
      font-size: 0.9rem;
      font-weight: 100;
    }
    .secondLine {
      display: block;
    }
  }

  .address {
    margin: 2rem;
    position: absolute;
    right: 4%;
    font-size: 1.2rem;
    text-align: right;

    .phone-number-line {
      color: black;
      display: block;
      @include transition-ease;
    }

    .phone-number-line:hover {
      color: white;
    }

    .email-line, .website-line {
      color: black;
      display: block;
      @include transition-ease;
    }

    .email-line:hover, .website-line:hover {
      color: white;
    }
  }

  .copy-right {
    position: absolute;
    top: 17rem;
    left: $margin-footer;
  }
  .brochure {
    color: white;
    position: absolute;
    top: 10.5rem;
    left: $margin-footer;
  }

  .social-icons {
    position: absolute;
    top: 13rem;
    left: $margin-footer;
    color: black;
    font-size: 2.5rem;
    a {
      text-decoration: none !important;
      padding: 0.4rem;
      @include transition-ease;
      color: white;

      &:hover {
        color: $inship-color;
      }
    }
  }

  .line {
    @include line-posistion-absolute(white, 5%, 90%, 90%, 0.1rem);
  }
}
