.form {
  
  position: relative;
  border-radius: 1rem;
  height: 50rem;

  h1 {
    padding-top: 2%;
    text-align: center;
    font-size: 4rem;
    color: $inship-color;
  }

  .label-before {
    line-height: 2rem;
    font-size: 1.2rem;
    top: -1.5rem;
    background: #fff;
    padding: 0 0.6rem;
    left: 0.9rem;
  }

  .container {
    width: 80%;
    margin: 3rem 10%;
  }

  .field {
    position: relative;
    margin-bottom: 1.5rem;
    label::before {
      content: attr(title);
      position: absolute;
      top: 0;
      left: 1.5rem;
      line-height: 4rem;
      font-size: 1.4rem;
      color: #777;
      transition: 300ms all;
    }
    input,
    textarea {
      background: transparent;
      width: 100%;
      line-height: 4rem;
      padding: 0 1.5rem;
      box-sizing: border-box;
      font-size: 1.4rem;
      color: #222;
      border: none;
      border-bottom: 0.1rem solid #ccc;
      &:focus {
        outline: 0;
      }
      &:valid + label::before {
        @extend .label-before;
        content: attr(data-title);
      }
      &:focus + label::before {
        @extend .label-before;
        background: transparent;
      }
    }
  }

  .half {
    float: left;
    width: 50%;
    margin-bottom: 1em;
  }

  .right {
    width: 48%;
  }

  .left {
    margin-right: 2%;
  }

  @media (max-width: 480px) {
    .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
  }

  /* Clearfix */
  .cf:before,
  .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  .cf:after {
    clear: both;
  }

  .submit-btn {
    position: absolute;
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: $inship-color;
    padding: 1rem 3rem;
    background-color: white;
    top: 75%;
    left: 45%;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    border: none;
  }

  .submit-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .submit-btn:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
