.header {
  position: relative;
  height: 95vh;

  & > figure {
    height: 95vh;
    // background-image: url(../img/Main.jpg);
    position: absolute;
    left: 0;
    top: 0;

    animation: imageAnimation 24s linear infinite 0s;
    // backface-visibility: hidden;
    background-size: cover;
    color: transparent;
    opacity: 0;

    width: 100%;
    z-index: 0;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  & > figure:nth-child(1) {
    background-image: url(../img/Main.jpg);
    background-position: center;
  }

  & > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url(../img/Books.jpg);
    background-position: left;
  }

  & > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url(../img/Main.jpg);
    background-position: center;
  }

  & > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url(../img/Books.jpg);
    background-position: left;
  }

  // & > figure:nth-child(5) {
  //   animation-delay: 24s;
  //   background-image: url(../img/Main.jpg);
  // }

  &-text-box {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 10%;
    width: 35%;
  }

  .heading {
    color: black;
  }
  .bold {
    font-weight: 700;
  }
  .main-header {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 5rem;
    display: block;
    // text-shadow: 4px 4px 4px white;
    animation-name: moveInFromTop;
    animation-duration: 3s;
  }

  .sub-header {
    // letter-spacing: 0.2rem;
    display: block;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
    font-weight: 100;
    // -webkit-text-stroke: 1px white;
    // text-shadow: 4px 4px 4px white;
    animation: mainTitleAnimation 12s linear infinite 0s;
  }

  .btn {
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
    background-color: black;
    position: relative;
    display: inline-block;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    animation: mainTitleAnimation 12s linear infinite 0s;
  }

  .btn:hover {
    transform: scale(1.05);
  }

  .btn:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
