
.header {
  position: relative !important;
  @include header-dimensions;
  &-text-box {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 10%;
    width: 35%;
  }

  .heading {
    color: black;
  }
  .bold {
    font-weight: 700;
  }
  .main-header {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 5rem;
    display: block;
    // text-shadow: 4px 4px 4px white;
    animation-name: moveInFromTop;
    animation-duration: 3s;
  }

  .sub-header {
    // letter-spacing: 0.2rem;
    display: block;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
    font-weight: 100;
    // -webkit-text-stroke: 1px white;
    // text-shadow: 4px 4px 4px white;
    animation: mainTitleAnimation 12s linear infinite 0s;
  }

  .btn {
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
    background-color: black;
    position: relative;
    display: inline-block;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    animation: mainTitleAnimation 12s linear infinite 0s;
  }

  .btn:hover {
    transform: scale(1.05);
  }

  .btn:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
