.header {
  height: 95vh;
  // z-index: -1;
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 128, 128, 0.541),
      rgba(128, 128, 128, 0.541)
    ),
    url(../img/large.jpg);

  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  position: relative;

  &-text-box {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 55%;
    width: 35%;
  }

  .heading {
    color: white;
  }
  .bold {
    font-weight: 700;
  }
  .main-header {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 5rem;
    display: block;

    animation-name: moveInFromTop;
    animation-duration: 3s;
  }

  .sub-header {
    // letter-spacing: 0.2rem;
    display: block;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 3s;
    font-weight: 100;
  }

  .btn {
    margin-top: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: $inship-color;
    padding: 1rem 3rem;
    background-color: white;
    position: relative;
    display: inline-block;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  .btn:hover {
    transform: scale(1.05);
  }

  .btn:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
