.main-page {
  .section-a {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 5rem;
    height: 100%;
    text-align: center;

    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

    &-heading {
      margin-top: 1.5rem;
      font-size: 5rem;
    }

    .text-box {
      text-align: left;
      font-size: 2rem;
      padding: 0 5rem 2rem 5rem;
    }

    .btn {
      border-radius: 1rem;
      font-size: 1.2rem;
      align-self: center;
      width: 20%;
      margin-bottom: 2rem;
      text-decoration: none;
      color: $inship-color;
      padding: 1rem 1rem;
      background-color: white;
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
      @include transition-ease;
    }

    .btn:hover {
      background-color: $inship-color;
      color: white;
      cursor: pointer;
    }

    .btn:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }

  .section-b {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        $inship-color-background-darker,
        $inship-color-background-darker
      ),
      url(../img/messy_room.jpg);
    background-size: cover;
    background-position: top;
    color: white;

    // clip-path: polygon(0 0, 100% 15vh, 100% 100%, 0% 100%);
    // -webkit-clip-path: polygon(0 0, 100% 15vh, 100% 100%, 0% 100%);
    position: relative;

    &-2 {
      display: flex;
      .text-box {
        margin: 2rem !important;
      }
    }

    &-heading {
      margin: 4rem 0 0 2rem;
      font-size: 5rem;
    }

    .text-box {
      width: 100%;
      border-radius: 1rem;
      background-color: rgba(139, 139, 139, 0.76);
      padding: 2rem;
      text-align: justify;
      font-size: 1.5rem;
    }

    .bottom {
      display: flex;
      .text-box {
        margin: 2rem !important;
        margin-bottom: 4rem !important;
      }
    }
  }

  .section-c {
    text-align: center;
    display: grid;
    margin-top: 4rem;

    &-heading {
      font-size: 5rem;
    }

    .cards {
      text-align: center;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    }

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 1rem;
      padding: 2rem;
      height: 100%;

      .img-container {
        width: 50%;
        // justify-self: center;
        // align-self: center;
      }

      &-title {
        font-size: 3rem;
      }

      .img {
        border-radius: 1rem;
        border: 0.1rem solid white;
        object-fit: cover;
      }

      .text-box {
        font-size: 1.7rem;
        padding: 2rem;
      }

      .t2p {
        display: block;
      }

      .btn {
        max-width: 20rem;
        align-self: center;
      }

      &-color-1 {
        background-color: $APC-bg;
        h3 {
          color: $APC-light;
        }

        .title {
          width: 30rem;
        }

        .text-box {
          color: $APC-dark;
        }

        .btn {
          @include btn($APC-bg, $APC-dark, "light");
          @include transition-ease;
        }

        .btn:hover {
          border: 0.1rem solid white;
          color: $APC-dark;
          background-color: $APC-bg;
        }

        .btn:active {
          @include click-affect("light");
        }
      }

      &-color-2 {
        background-color: $CAPS-bg;

        h3 {
          color: $CAPS-dark;
        }

        .title {
          width: 30rem;
        }

        .text-box {
          color: $CAPS-light;
        }
        .btn {
          @include btn($CAPS-bg, $CAPS-light, "light");
          @include transition-ease;
        }

        .btn:hover {
          border: 0.1rem solid white;
          color: $CAPS-light;
          background-color: $CAPS-bg;
        }

        .btn:active {
          @include click-affect("light");
        }
      }

      &-color-3 {
        background-color: $T2P-bg;

        h3 {
          color: $T2P-color;
        }

        .title {
          width: 50rem;
        }

        .text-box {
          color: $T2P-color;
        }

        .btn {
          @include btn($T2P-bg, $T2P-color, "light");
          @include transition-ease;
        }

        .btn:hover {
          border: 0.1rem solid white;
          color: $T2P-color;
          background-color: $T2P-bg;
        }

        .btn:active {
          @include click-affect("light");
        }
      }
      @include transition-ease;
    }

    .card:hover {
      transform: scale(1.05);
    }
  }

  .section-d {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    border-radius: 2rem;
    border: 1rem solid white;
    &-title {
      text-align: center;
      font-size: 4rem;
      font-weight: 600;
    }
    p {
      margin: 1rem 2rem;
      padding: 2rem;
      font-size: 2rem;
      border: 1rem solid white;
      border-radius: 2rem;
      box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
      width: 80%;
    }

    .prosses-img {
      margin-top: 3%;
      border-radius: 2rem;
      object-fit: cover;
      width: 80%;
    }
  }

  .section-e {
    margin-top: 6%;
    &-title {
      text-align: center;
      font-size: 4rem;
      font-weight: 600;
    }
  }
}
