.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 3rem;
  width: calc(100% - 6rem);
  opacity: 1;

  .menu-nav-scrolling {
    margin-top: 3rem;
    border-radius: 0rem;
  }

  .menu-nav {
    display: block;
    text-align: right;
    text-decoration: none;
    background: rgba(46, 122, 117, 0.9);
    padding: 1.5rem;
    @include transition-ease;
  }

  .color-1 {
    background: $APC-dark !important;
  }
  .color-2 {
    background: $T2P-bg !important;
  }
  .color-3 {
    background: $CAPS-dark !important;
  }

  .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
    text-decoration: none;

    &.active > a {
      color: black;
    }
  }

  .menu-nav__link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    @include transition-ease;
    &:hover {
      color: black;
    }
  }

  &.open {
    visibility: visible;
  }
}

.burger-navigation {
  visibility: hidden;
  &__button {
    background-color: white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    @include transition-ease;

    &:hover {
      cursor: pointer;
    }
  }

  .open-background {
    transform: scale(80);
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1500;
    background-image: radial-gradient(
      $inship-color-background,
      $inship-color-background
    );
    @include transition-ease;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    @include transition-ease;

    opacity: 0;
    width: 0%;
  }

  .open-nav {
    opacity: 1;
    width: 100%;
  }

  .open-button {
    background-color: transparent;

    &::after {
      transform: rotate(45deg);
      width: 3rem;
      top: 0;
    }
    &::before {
      transform: rotate(-45deg);
      top: 0;
    }
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__link {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
  }

  &__icon {
    margin-top: 3.5rem;
    position: relative;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.2rem;
      background-color: gray;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
    }

    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
      width: 2.5rem;
    }
  }
}
