.product-header {
  @include header-gb-no-color("../img/medium.jpg");

  position: relative;

  .header-text-box {
    color: $inship-color;
    position: absolute;
    right: 18%;
    top: 15%;

    .heading {
      .main-header {
        display: block;
        font-size: 4rem;

        animation-name: moveInFromRight;
        animation-duration: 2s;
      }

      .sub-header {
        display: block;
        font-size: 1.5rem;

        animation-name: moveInFromLeft;
        animation-duration: 2s;
      }
    }

    .btn {
      @include btn($inship-color, $inship-color-background, $shadow);
      margin: 1rem;
      color: white;
    }

    .btn:hover {
      transform: scale(1.05);
    }

    .btn:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }
}

.product-main {
  .line {
    background-color: $inship-color;
    text-align: center;
    height: 0.23rem;
    left: 10%;
    width: 80%;
    position: absolute;
    margin-top: 6rem;
    
  }
  &-section-a {
    &-title {
      margin-bottom: 4rem;
      color: $inship-color;
      font-size: 4rem;
      text-align: center;
    }
  }

  &-section-b {
    text-align: center;
    &-title {
      margin-bottom: 4rem;
      margin-top: 10rem;
      font-size: 4rem;
      color: $inship-color;
    }

    .cards {
      margin-top: 3rem;
      display: grid;
      justify-content: center;
      grid-gap: 4rem;
      grid-template-columns: 40% 40%;
      grid-template-rows: auto auto;
      .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        div{
          display: block;
        }

        .icon {
          font-size: 3rem;
          color: green;
        }
        .text-box {
          padding: 0 3rem 0 2rem;
          font-size: 1.6rem;
        }
      }
    }
  }

  &-section-c {
    &-title {
      display: block;
      text-align: center;
      font-size: 4rem;
      color: $inship-color;
      margin: 6rem 0 6rem 0;
      padding: 0 4rem 0 4rem;

      &-sub {
        display: block;
        text-align: center;
        font-size: 3rem;
        color: $inship-color;
      }
    }

    .cards {
      margin-left: 12.5%;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 20% 20% 20% 20%;

      .card {
        text-align: center;
        display: grid;
        grid-gap: 1rem;

        .text-box {
          font-size: 1.5rem;
        }
      }
    }
  }

  &-section-d {
    text-align: center;
    &-title {
      margin-bottom: 4rem;
      margin-top: 4rem;
      font-size: 4rem;
      color: $inship-color;
    }

    .cards {
      margin-top: 3rem;
      display: grid;
      justify-content: center;
      grid-gap: 4rem;
      grid-template-columns: 40% 40%;
      grid-template-rows: auto auto;
      .card {
        background-color: $inship-color;
        padding: 4rem;
        border-radius: 1.5rem;
        align-items: start;
        justify-content: space-evenly;

        .icon {
          font-size: 5rem;
          color: white;
          margin-bottom: 2rem;
        }
        .text-box {
          color: white;
          padding: 0 3rem 0 2rem;
          font-size: 1.4rem;
        }
      }
    }
  }
}
