.product-header {
  @include header-bg(
    "../img/boats.jpg",
    $inship-color-background,
    $inship-color-background-darker
  );

  position: relative;

  .header-text-box {
    color: white;
    position: absolute;
    left: 18%;
    top: 30%;

    .heading {
      .main-header {
        display: block;
        font-size: 4rem;

        animation-name: moveInFromRight;
        animation-duration: 2s;
      }

      .sub-header {
        display: block;
        font-size: 1.5rem;

        animation-name: moveInFromLeft;
        animation-duration: 2s;
      }
    }

    .btn {
      @include btn($inship-color, white, $shadow);
      margin: 1rem;
    }

    .btn:hover {
      transform: scale(1.05);
    }

    .btn:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }
}

.product-main {
  &-section-a {
    &-title {
      color: $inship-color;
      font-size: 3rem;
      text-align: center;
    }
  }

  &-section-b {
    text-align: center;
    &-title {
      font-size: 3rem;
      color: $inship-color;
    }

    .cards {
      margin-top: 3rem;
      display: grid;
      justify-content: center;
      grid-gap: 4rem;
      grid-template-columns: 40% 40%;
      grid-template-rows: auto auto;
      .card {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;

        .icon {
          font-size: 3rem;
          color: green;
        }
        .text-box {
          padding: 0 3rem 0 2rem;
          font-size: 1.4rem;
        }
      }
    }
  }

  &-section-c {
    &-title {
      display: block;
      text-align: center;
      font-size: 3rem;
      color: $inship-color;
      margin: 3rem 0 3rem 0;

      &-sub {
        display: block;
        text-align: center;
        font-size: 2rem;
        color: $inship-color;
      }
    }

    .cards {
      margin-left: 12.5%;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 20% 20% 20% 20%;

      .card {
        text-align: center;
        display: grid;
        grid-gap: 1rem;

        .text-box {
          font-size: 1.2rem;
        }
      }
    }
  }

  &-section-d {
    text-align: center;
    &-title {
      display: block;
      justify-content: center;
      text-align: center;
      font-size: 3rem;
      color: $inship-color;
      margin: 3rem 0 3rem 0;
    }

    .cards {
      text-align: left;
      justify-content: left;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 30% 30% 30%;
      grid-auto-rows: 30% 30% 30%;
      .card {
        justify-content: center;
        @include transition-ease;
      }

      .card:hover {
        transform: scale(1.05);
      }

      .img {
        margin-left: 12.5%;
        border-radius: 1rem;
        border: 0.1rem solid white;
        width: 100%;
        height: 100%;
        // object-fit: cover;
      }
    }
  }
}
