.product {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      $inship-color-background,
      $inship-color-background-darker
    ),
    url(../img/large-boat.jpg);
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  position: relative;

  .image{
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 70%;
    top:25%;
  }

  .header {
    &-text-box {
      position: absolute;
      text-align: center;
      top: 5%;
      left: 15%;
      width: 35%;
    }

    .heading {
      color: white;
    }
    .bold {
      font-weight: 700;
    }
    .main-header {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 5rem;
      display: block;

      animation-name: moveInFromTop;
      animation-duration: 3s;
    }

    .sub-header {
      // letter-spacing: 0.2rem;
      display: block;
      text-align: center;
      animation-name: fadeIn;
      animation-duration: 3s;
      font-weight: 100;
    }

    .btn {
      @include btn($inship-color, white, $shadow);
      margin: 1rem;
    }

    .btn:hover {
      transform: scale(1.05);
    }

    .btn:active {
      transform: translateY(0.2rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
  }

  .test {
    z-index: 12000;
    color: black;
    font-size: 7rem;
  }

  &-about {
    .title {
      color: black;
      font-size: 100rem;
    }
  }
  
}
