$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.problem-section {
  margin: 0 5rem 0 5rem;
}

.problem-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;

  a {
    color: inherit;
    &:hover {
      color: $inship-color;
    }
  }
  &:hover {
    .photo-1,
    .photo-2,
    .photo-3 {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 36rem;
    // height: auto;
  }
  .photo-1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
    background-image: url(../img/inshipBuilding.jpg);
  }
  .photo-2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
    background-image: url(../img/Books.jpg);
  }
  .photo-3 {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
    background-image: url(../img/Main.jpg);
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(#000, 0.6);
    color: $color_white;
    padding: 1rem;
    width: 100%;
    font-size: 0.9rem;

    .img-writing {
      font-size: 3rem;
    }
  }
  .description {
    padding: 2rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    color: black;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: 300;
      // text-transform: uppercase;
      // color: $color_grey_dark;
      color: black;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        color: $inship-color;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -1rem;
          opacity: 0;
          vertical-align: middle;
          transition: margin 0.3s, opacity 0.3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
    p {
      font-size: 1.5rem;
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    text-align: left;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        // content: "";
        position: absolute;
        height: 0.5rem;
        background: $inship-color;
        width: 3.5rem;
        top: -0.75rem;
        border-radius: 0.3rem;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    min-width: 100%;
    .meta {
      flex-basis: 40%;
      min-height: 15%;
    }
    .description {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}

.problem-card-2 {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;

  a {
    color: inherit;
    &:hover {
      color: $inship-color;
    }
  }

  .icon {
    color: black;
    font-size: 10rem;
    z-index: 100;
    position: absolute;
    top: calc(50% - 5rem);
    right: calc(50% - 5rem);
    bottom: 0;
    left: calc(50% - 5rem);
    transition: transform 0.2s;
  }

  &:hover {
    .icon {
      transform: scale(1.3) rotate(5deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
  }

  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(#000, 0.1);
    color: $color_white;
    padding: 1rem;
    width: 100%;
    font-size: 0.9rem;

    .img-writing {
      font-size: 3rem;
    }
  }
  .description {
    padding: 2rem;
    background: $color_white;
    position: relative;
    z-index: 1;

    text-align: center;
    color: black;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: 300;
      // text-transform: uppercase;
      // color: $color_grey_dark;
      color: black;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        color: $inship-color;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -1rem;
          opacity: 0;
          vertical-align: middle;
          transition: margin 0.3s, opacity 0.3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
    p {
      font-size: 1.5rem;
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    padding: 0 5rem;
    text-align: center;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        // content: "";
        position: absolute;
        height: 0.5rem;
        background: $inship-color;
        width: 3.5rem;
        top: -0.75rem;
        border-radius: 0.3rem;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 80%;
    .meta {
      flex-basis: 50%;
      min-height: 15%;
    }
    .description {
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}
