.animation {
  position: relative;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.process-animation {
  $first-row: 32.5rem;
  $second-row: 50rem;
  $third-row: 7.5rem;
  $col-1: 5rem;
  $col-2: 30rem;
  $col-3: 55rem;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  background: black;
  margin: 2rem;
  height: 70rem;
  width: 125rem;
  .keys {
    position: absolute;
    bottom: 2%;
    color: white;
    left: 37.5%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    .orange {
      color: orange;
    }
    .green {
      color: green;
    }
    p {
      visibility: hidden;
    }
  }

  .manual {
    position: absolute;
    color: white;
    top: $first-row - 8rem;
    font-size: 3rem;
    width: 50rem;
    left: 29.16%;
    text-align: center;
    
  }
  .counter {
    position: absolute;
    top: 20rem;
    z-index: 2;
    line-height: 5rem;

    color: white;
    h2 {
      font-size: 5rem;
    }
    h3 {
      font-size: 2rem;
    }
    &-manual{
      left: 1%;
    }
    &-auto{
      right: 1%;
    }
  }
  .automated {
    position: absolute;
    top: $third-row - 8rem;
    color: white;
    font-size: 3rem;
    width: 50rem;
    left: 29.16%;
    text-align: center;
  }
  .icon {
    width: 15rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background: $grey-light;
    border-radius: 10rem;
    padding: 0.5rem !important;
    position: absolute;
    z-index: 1;
    color: $inship-color;
    &-0 {
      top: $first-row;
      left: $col-1;
    }
    &-1 {
      top: $first-row;
      left: $col-2;
    }
    &-2 {
      top: $first-row;
      left: $col-3;
    }
    &-3 {
      top: $first-row;
      right: $col-2;
    }
    &-4 {
      top: $first-row;
      right: $col-1;
    }
    &-9 {
      top: $second-row;
      left: $col-1;
    }
    &-8 {
      top: $second-row;
      left: $col-2;
    }
    &-7 {
      top: $second-row;
      left: $col-3;
    }
    &-6 {
      top: $second-row;
      right: $col-2;
    }
    &-5 {
      top: $second-row;
      right: $col-1;
    }
    &-10 {
      top: $third-row;
      left: 12rem;
    }

    &-11 {
      top: $third-row;
      left: 41rem;
    }

    &-12 {
      top: $third-row;
      right: 41rem;
    }

    &-13 {
      top: $third-row;
      right: 12rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    h3 {
      font-size: 2rem;
    }
  }
  p {
    margin: 1rem 2rem;
    padding: 2rem;
    font-size: 2rem;
    border: 1rem solid white;
    border-radius: 2rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    width: 80%;
  }

  .container-animation {
    width: 20rem;
    height: 10rem;
    position: absolute;
    margin: 2rem;
    padding: 1px;
    border-radius: 100rem;
    font-size: 0.5rem !important;

    .content {
      font-size: 5rem;
      color: orange;
    }
    &-0 {
      top: $first-row + 1rem;
      left: 0%;
    }
    &-1 {
      top: $first-row + 1rem;
      left: 20%;
    }
    &-2 {
      top: $first-row + 1rem;
      left: 40%;
    }
    &-3 {
      top: $first-row + 1rem;
      left: 60%;
    }
    &-4 {
      top: $first-row + 1rem;
      left: 80%;
    }
    &-5 {
      top: $second-row + 1rem;
      left: 80%;
    }
    &-6 {
      top: $second-row + 1rem;
      left: 60%;
    }
    &-7 {
      .content {
        color: green;
      }
      top: $second-row + 1rem;
      left: 40%;
    }
    &-8 {
      top: $second-row + 1rem;
      left: 20%;
    }
    &-9 {
      .content {
        color: green;
      }
      top: $third-row + 1rem;
      left: 7.5%;
    }
    &-10 {
      top: $third-row + 1rem;
      left: 28%;
    }
    &-11 {
      .content {
        color: green;
      }
      top: $third-row + 1rem;
      left: 50%;
    }
  }
}
