@include media-sm-rev {
  html {
    font-size: 8px;
  }

  .form{

  .submit-btn{
    left:37.5% !important; 
    width: 25% !important;
    top: 85% !important;
    bottom: 5% !important;
  }
  
  }

  .product-main{
    
    &-section-c{
      &-title{
        font-size: 3rem !important;
        font-weight: 600;
        &-sub{
          font-weight: 100 !important;
        }
      }
      .cards {
        margin: 0  !important;
      }
    }
    &-section-d{
      margin: 2rem;
    }
  }

  .header {
    &-text-box {
      top: 15%;
      left: 7.5% !important;
      width: 70%;
    }
  }

  .main-page{
    .section-a {
      margin: 2rem !important;
      .text-box {
        padding: 0 2rem 1rem 2rem !important;
      }
      .btn {
        width: 50% !important;
      }
    }
  
    .section-b {
      &-2 {
        flex-direction: column !important;
        width: 90% !important;;
      }
    }
  }

  
  
  .automate-page{
    .section-a{
      .grid{
        grid-template-columns: 1fr !important;
      }
    }
  }

  .product-page{
    .cards{
      grid-template-columns: 1fr !important;
    }
  }
}

@include media-md {
  html {
    font-size: 9px;
  }

  .main-page {
    .section-c {
      .cards {
        grid-template-columns: 1fr;
        margin: 0 20rem 0 20rem;
      }
    }
  }
  body {
    padding: 0;
    width: 100%;
  }

  .nav {
    visibility: hidden;
  }
  .burger-navigation {
    visibility: visible !important;
  }
  .header {
    &-text-box {
      left: 15%;
    }
  }
}

@include media-lg {
  html {
    font-size: 10px;
  }
}

@include media-xl {
  html {
    font-size: 11px;
  }
  .container {
    text-align: center;
    max-width: 2048px !important;
    margin: 0 10% !important;
  }

  .automate-page {
    .section-b {
      .title-main {
        margin-left: 25% !important;
      }
      width: 80% !important;
      max-width: 2048px !important;
      .carousel-slider {
        margin: 0 12.5% !important;
      }
    }
  }
}
