.resources {
  &-header {
    @include header-dimensions;
    position: relative;

    &-text-box {
      position: absolute;
      text-align: center;
      top: 20%;
      left: -1%;
      width: 35%;
    }

    .heading {
      color: white;
    }
    .bold {
      font-weight: 700;
    }
    .main-header {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 5rem;
      display: block;

      animation-name: moveInFromTop;
      animation-duration: 3s;
    }

    .sub-header {
      // letter-spacing: 0.2rem;
      font-size: 2rem;
      display: block;
      text-align: center;
      animation-name: fadeIn;
      animation-duration: 3s;
      font-weight: 100;
    }
  }
}
