@include media-sm-rev {
  body {
    padding: 0;
  }
  .pricing-page {
    .header {
      height: auto !important;
      clip-path: polygon(0 0, 100% 0, 100% 130vh, 0 100%) !important;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 130vh, 0 100%) !important;
      background-size: auto;
    }
    .section-c {
      align-items: start;
      .cards {
        flex-direction: column;
        align-items: center;
      }

      .card {
        margin: 2rem 0rem 2rem 0rem !important;
        width: 20rem;
      }
    }
  }

  .cards {
    grid-template-columns: 1fr !important;
    width: 90%;
    margin-left: 5%;
    .card {
      margin: 1rem 10rem 0 10rem;
      .img {
        width: 50% !important;
        left: 8%;
      }

      .text-box {
        padding: 0 6rem 0 6rem !important;
      }
    }
  }

  .product-main-section-c {
    .cards {
      text-align: center;
      margin-left: 5%;
    }
  }
  .main-page {
    .section-d {
      .prosses-img {
        margin-top: 3%;
        border-radius: 2rem;
        border: 1rem solid white;
        object-fit: cover;
        width: 100%;
        margin-left: 0%;
      }
    }
  }
}

@include media-sm {
  html {
    font-size: 6px;
  }
  .time-line {
    font-size: 1.5rem !important;
  }

  .nav {
    visibility: hidden;
    position: fixed !important;
    top: 0;
    left: 0;
    opacity: 0.99;
  }
  .navigation {
    visibility: visible !important;
  }
  .product-main-section-d {
    font-size: 2rem;
    .card {
      .text-box {
        font-size: 2rem !important;
      }
    }
  }
}

@include media-md {
  .product-main-section-d {
    font-size: 2rem;
    .card {
      .text-box {
        font-size: 1.4rem !important;
      }
    }
  }
  .nav {
    visibility: visible;
  }
  .navigation {
    visibility: hidden !important;
  }
}

@include media-lg {
  html {
    font-size: 10px;
  }
}

@include media-xl {
  html {
    font-size: 11px;
  }
  .container {
    text-align: center;
    max-width: 2048px;
    margin: 0 10%;
  }
}
