@include media-sm-rev {
  body {
    padding: 0;
  }

  .automate-page {
    .grid {
      grid-template-columns: repeat(1, 1fr) !important;
      padding: 0 10rem !important;
    }
    .heading {
      display: inline;
      position: absolute;
      right: 5% !important;
    }
    .animation-wrapper {
      margin-top: 75%;
    }
    .title {
      h2 {
        font-size: 6rem !important;
      }
    }

    .btn {
      font-size: 2.5rem !important;
    }

    .card {
      .card__content {
        font-size: 4rem !important;
        p {
          font-size: 2rem !important;
        }
      }
    }
  }

  .header {
    &-text-box {
      width: 50%;
      left: 40%;
    }
    .main-header {
      font-size: 5rem;
    }
    .btn {
      font-size: 2rem !important;
    }
  }

  .contact-page {
    .section-a {
      .cards {
        margin-left: 10%;
        grid-template-rows: 35rem 20rem;
        .card {
          height: 5% !important;
        }
      }
    }
  }
  .pricing-page {
    .header {
      height: auto !important;
      clip-path: polygon(0 0, 100% 0, 100% 130vh, 0 100%) !important;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 130vh, 0 100%) !important;
      background-size: auto;
    }
    .section-c {
      align-items: start;
      .cards {
        flex-direction: column;
        align-items: center;
      }

      .card {
        margin: 2rem 0rem 2rem 0rem !important;
        width: 20rem;
      }
    }
  }
  .cards {
    justify-self: center !important;
    grid-template-columns: 1fr !important;
  }
  .main-page{
      width: 80%;
      margin-right: 5%;
      .card {
        min-height: 70rem !important;
        overflow: hidden;
        .text-box {
          padding: 0 6rem 0 6rem !important;
        }
      }
    }

  }
  

  .product-page {
    
    .product-header{
      &-color-1,&-color-2,&-color-3{
        position: relative;
        
        .header-text-box{
          width: 75%;
          position: absolute;
          left: 5% !important;
          top: 22.5% !important;
        }
        

      }
    }

    .btn {
      &-color-1,
      &-color-2,
      &-color-3 {
        font-size: 2.25rem !important;
      }
    }
  }

  .product-main {
    &-section-c {
      .cards {
        text-align: center;
        margin-right: 12.5% !important;
      }
    }
    &-section-b {
      .card {
        width: 90%;
        margin-left: 5% !important;
      }
    }
    &-section-d {
      .card {
        width: 90%;
        margin-left: 5%;
      }
    }
  }
  .main-page {
    .section-a {
      .text-box {
        font-size: 2rem;
      }

      .btn {
        width: 40%;
        margin-bottom: 5rem;
      }
    }
    .section-b {
      &-2 {
        display: flex;
        flex-direction: column;
        .text-box {
          margin: 2rem !important;
        }
      }

      &-heading {
        margin-top: 10rem;
        font-size: 7rem;
      }
      .text-box {
        font-size: 2rem;
        width: 90%;
        left: 10%;
        justify-content: center;
        top: 10%;
      }
    }

    .section-d {
      margin: 5rem;
    }
  }
  html {
    font-size: 7px;
  }
  .time-line {
    font-size: 1.5rem !important;
  }

  .nav {
    visibility: hidden;
    position: fixed !important;
    top: 0;
    left: 0;
    opacity: 0.99;
  }
  .burger-navigation {
    visibility: visible !important;
  }
  .product-main-section-d {
    font-size: 2rem;
    .card {
      .text-box {
        font-size: 2rem !important;
      }
    }
  }
  .footer {
    .social-icons {
      left: 4rem !important;
    }
    .inship-logo {
      left: 4rem !important;
    }
    .copy-right {
      left: 4rem !important;
    }
  }


@include media-sm {
  html {
    font-size: 8px;
  }
  .time-line {
    font-size: 1.5rem !important;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr 1fr) !important;
    padding: 0 5rem !important;
  }
  .cards {
    justify-self: center !important;
    grid-template-columns: 1fr !important;
  }

  .main-page{
    .cards {
      width: 80%;
      margin-right: 5%;
      .card {
        min-height: 70rem !important;
        overflow: hidden;
        .text-box {
          padding: 0 6rem 0 6rem !important;
        }
      }
    }

  }
}

.nav {
  visibility: hidden;
  position: fixed !important;
  top: 0;
  left: 0;
  opacity: 0.99;
}
.burger-navigation {
  visibility: visible !important;
}
.product-main-section-d {
  font-size: 2rem;
  .card {
    .text-box {
      font-size: 2rem !important;
    }
  }
}

@include media-md {
  html {
    font-size: 9px;
  }

  .cards {
    justify-self: center !important;
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .product-page{
    .cards {
      justify-self: center !important;
      grid-template-columns: 1fr 1fr !important;
      // margin: 0 !important;
    }
  }
  

  .product-main-section-d {
    font-size: 2rem;
    .card {
      .text-box {
        font-size: 1.4rem !important;
      }
    }
  }
  .nav {
    visibility: visible;
  }
  .burger-navigation {
    visibility: hidden !important;
  }
}

@include media-lg {
  html {
    font-size: 10px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr 1fr 1fr) !important;
    padding: 0 5rem !important;
  }
}

@include media-xl {
  html {
    font-size: 11px;
  }
  .container {
    text-align: center;
    max-width: 2048px !important;
    margin: 0 10% !important;
  }

  .automate-page {
    .section-b {
      .title-main {
        margin-left: 20% !important;
      }
      width: 80% !important;
      max-width: 2048px !important;
      .carousel-slider {
        margin: 0 10% !important;
      }
    }
  }
}
