@import "config";
@import "header";
@import "mainPage";
@import "productPage";
@import "responsive";
@import "nav";
@import "footer";
@import "contact";
@import "circle";
@import "pricing";
@import "player";
@import "form";
@import "process-img";
@import "automate";
